@model IEnumerable<QL_CHSXM.Models.ShoppingCartItem>
@using QL_CHSXM.Common

<style>
    html {
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #cd1d1d;
    }
</style>

<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Lựa chọn</th>
        <th>Giá</th>

        <th style="width:100px;">Số lượng</th>
        <th>Thành tiền</th>
        <th style="width:200px;">

        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            <tr class="text-center" id="trow_@item.ProductId">
                <td>@(i+1)</td>
                <td><img src="@item.ProductImg" width="50" /></td>
                <td>
                    <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                        @item.ProductName
                    </a>
                </td>
                <td>@item.CategoryName</td>
                <td>@Common.FormatNumber(item.Price, 0)&nbsp;<span style="font-size: 15px">đ</span></td>
                <td><input type="number" class="form-control" id="Quantity_@item.ProductId" value="@item.Quantity" min="1" oninput="handleQuantityChange(this)" onblur="handleQuantityChange(this)" /></td>
                <th>@Common.FormatNumber(item.TotalPrice, 2)&nbsp;<span 15px>đ</span></th>
                <td>
                    <a href="#" data-id="@item.ProductId" class="btn btnDelete" style="background-color: #d4d9ca">Xóa</a>
                    <a href="#" data-id="@item.ProductId" class="btn btnUpdate" style="background-color: #caebca ">Thay đổi</a>
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="6" class="text-right">Tổng: </th>
            <th class="text-center">@Common.FormatNumber(tongtien, 0)&nbsp;<span style="font-size: 15px">đ</span></th>
            <th></th>
        </tr>
    
    }
    else
    {
        <tr>
            <th colspan="7">Không có sản phẩm trong giỏ hàng!</th>
        </tr>
    }
</table>
<section style="width: 100%; height: 65px"></section>

<script>
    function handleQuantityChange(input) {
        // Chuyển giá trị nhập thành số nguyên
        let value = parseInt(input.value);

        // Kiểm tra nếu giá trị nhỏ hơn 1 hoặc không phải là số
        if (isNaN(value) || value < 1) {
            alert("Số lượng không thể nhỏ hơn 1!!!");
            input.value = 1; // Đặt lại giá trị về 1 nếu nhập giá trị nhỏ hơn 1
        }
    }
</script>