@model QL_CHSXM.Models.CreateAccountViewModel
@{
    ViewBag.Title = "Thêm mới tài khoản";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/scroll.css">

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<section style="width: 100%; height: 30px"></section>
<!-- Main content -->
<section class="content" style="margin: 0px 40px 20px 40px">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Create", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="UserName">Tài khoản</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "UserName" })
                    @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="FullName">Họ và tên</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @id = "FullName" })
                    @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "Email" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Phone">Số điện thoại</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "Phone" })
                    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Roles">Vai trò</label>
                    @Html.DropDownListFor(x => x.Roles, (IEnumerable<SelectListItem>)ViewBag.Roles, "-- Chọn vai trò --", new { @class = "form-control", @id = "Roles" })
                    @Html.ValidationMessageFor(x => x.Roles, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Password">Mật khẩu</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @id = "Password" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">Nhập lại Mật khẩu</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Thêm tài khoản</button>
                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<section style="width: 100%; height: 10px"></section>